@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #eceff1;
    

    font-family: "Roboto", sans-serif;
    
}




.show-container {
    padding-left: 10px;
    padding-right: 10px;
}

.show-data {
    width: 100%;
    background-color: #cfd8dc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 3px 4px 2px;
}

.show-data h1 {
    text-align: center;

}

img {
    display: block;
}

.show-info {
    width: 100%;
}



@media (min-width: 801px) {
    .show-data {
        display: flex;
    }

    .show-info {
        padding: 10px;
    }
}

@media (max-width: 800px) {
    img {
      margin: auto;
    
    }

    .show-info p {
      text-align: center;
      padding: 10px;
    }
}
